//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    background-color: #f8f7f7;
    border-top: rem(1) solid #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input {
    position: relative;
    width: 100%;
    display: block;
    min-height: rem(35);
    padding: 0px rem(25);
    font-size: rem(15);
    &._form-focus {
        border-top: rem(1) solid blue;
    }
    &._form-error {
        border-top: rem(1) solid red;
    }
}
textarea.input {
    height: rem(120);
    resize: none;
    padding: rem(10) rem(20);
}
