.mainblock {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: rem(50) 0;
    @media screen and (max-width: $mobile), screen and (max-height: em(600)) {
        padding: rem(20) 0;
    }
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__container {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
    }

    &__logo {
        img {
            max-width: 100%;
        }
    }

    &__text {
        color: #ffffff;
        position: relative;
        padding-bottom: rem(45);
        margin: rem(30) 0;
        letter-spacing: 0.4em;
        &::after {
            content: "";
            width: rem(105);
            height: rem(2);
            background-color: #fff;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 0px);
        }
    }

    &__title {
        font-size: rem(34);
        line-height: math.div(40, 34);
        font-weight: 900;
        text-transform: uppercase;
        @media screen and (max-width: $mobile), screen and (max-height: em(600)) {
            font-size: rem(25);
        }
    }

    &__subtitle {
        font-size: rem(26);
        line-height: math.div(40, 26);
        text-transform: none;
        @media screen and (max-width: $mobile), screen and (max-height: em(600)) {
            font-size: rem(22);
        }
    }

    &__footer {
        display: inline-flex;
        flex-direction: column;
    }

    &__button {
        margin-bottom: rem(30);
    }

    &__arrow {
        position: relative;
        animation: arrow 1.5s infinite ease;
    }

    @keyframes arrow {
        0% {
            top: rem(5);
        }
        50% {
            top: rem(10);
        }
        100% {
            top: rem(5);
        }
    }

    &__image-ibg {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

//===================================================================================================================================

.content {
    background-color: #fff;
    position: relative;
    z-index: 50;
}

//========================================================================================================================================================

.menu {
    padding: rem(22) 0;
    border-bottom: rem(1) solid #f2f2f2;
    &_mb {
        @include adaptiveValue("margin-bottom", 130, 30, 1170, 767.98, 1);
    }
    @media (max-width: $mobileSmall) {
        padding: rem(22) 0 rem(15) 0;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: rem(15);
    }

    &__item {
        padding: 0px rem(25);
        @media (max-width: $mobileSmall) {
            flex: 0 1 50%;
            padding: 0px rem(10);
            text-align: center;
        }
    }

    &__link {
        font-size: rem(15);
        line-height: 1.2;
        font-weight: 700;
        color: #3c3c3c;
        transition: all 0.3s ease 0s;
        &:hover {
            color: #ada074;
        }
        &_act {
            color: #ada074;
        }
    }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

.about {
    @include adaptiveValue("padding-bottom", 60, 10, 1170, 767.98, 1);
    &__header-block {
        @include adaptiveValue("margin-bottom", 70, 30, 1170, 767.98, 1);
    }

    &__container {
    }

    &__body {
        text-align: center;
        max-width: rem(900);
        margin: 0 auto;
    }

    &__row {
        display: flex;
        margin: 0px rem(-15);
        @media (max-width: $mobile) {
            display: block;
        }
    }

    &__column {
        margin-bottom: rem(30);
        flex: 0 1 33.333%;
        padding: 0px rem(15);
    }

    &__item {
        text-align: center;
        max-width: rem(260);
        @media (max-width: $tablet) {
            max-width: none;
        }
    }

    &__icon {
        width: rem(90);
        height: rem(90);
        border-radius: 50%;
        border: rem(1) solid #f2f2f2;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 15, 1170, 767.98, 1);
        }
        &_l {
            img {
                position: relative;
                left: rem(6);
            }
        }
    }

    &__title {
        line-height: 1.2;
        letter-spacing: 0.16em;
        color: #000000;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 22, 18, 1170, 991.98, 1);
        @include adaptiveValue("margin-bottom", 35, 15, 1170, 767.98, 1);
    }

    &__text {
        line-height: math.div(26, 14);
        font-weight: 300;
        color: #868585;
    }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

.portfolio {
    background-color: #f3f3f3;
    @include adaptiveValue("padding-top", 105, 50, 1170, 767.98, 1);
    @include adaptiveValue("padding-bottom", 105, 50, 1170, 767.98, 1);
    &__header-block {
        @include adaptiveValue("margin-bottom", 50, 20, 1170, 767.98, 1);
    }

    &__filter {
        @include adaptiveValue("margin-bottom", 100, 30, 1170, 767.98, 1);
    }

    &__items {
        display: grid;
        @include adaptiveValue("gap", 30, 20, 1170, 767.98, 1);
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }

    &__column-ibg {
        display: none;
        cursor: pointer;
        @include adaptiveValue("min-height", 360, 260, 1170, 479.98, 1);
        &._showed {
            display: block;
        }
    }

    &__footer {
        @include adaptiveValue("padding-top", 35, 20, 1170, 479.98, 1);
        text-align: center;
    }
}

.filter {
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        font-size: rem(15);
        line-height: 1.2;
        font-weight: 700;
        color: #3c3c3c;
        transition: all 0.3s ease 0s;
        margin: 0px rem(25);
        cursor: pointer;
        &:hover {
            color: #ada074;
        }
        &._active {
            color: #ada074;
        }
        @media (max-width: $mobile) {
            margin: 0px rem(15);
        }
    }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

.partners {
    background: url("../img/Partners/bg.jpg") center / cover no-repeat;
    padding: 100px 0px 70px 0;
    margin: 0px 0px 180px 0px;
    @media (max-width: $tablet) {
        padding: 70px 0px 40px 0px;
        margin: 0px 0px 100px 0px;
    }
    @media (max-width: $mobile) {
        padding: 50px 0px 25px 0px;
        margin: 0px 0px 70px 0px;
    }
    @media (max-width: $mobileSmall) {
        padding: 40px 0px 15px 0px;
        margin: 0px 0px 50px 0px;
    }
    &__title {
        text-align: center;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 300;
        letter-spacing: 0.06em;
        color: #ffffff;
        margin: 0px 0px 90px 0px;
        @media (max-width: $tablet) {
            margin: 0px 0px 60px 0px;
        }
        @media (max-width: $mobile) {
            margin: 0px 0px 40px 0px;
        }
        @media (max-width: $mobileSmall) {
            margin: 0px 0px 30px 0px;
        }
    }

    &__items {
        flex-wrap: wrap;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    &__column {
        padding: 0px 50px;
        margin: 0px 0px 30px 0px;
        @media (max-width: $mobile) {
            padding: 0px 20px;
            margin: 0px 0px 25px 0px;
        }
        @media (max-width: $mobileSmall) {
            padding: 0px 10px;
            flex: 0 1 50%;
        }
    }
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

.contacts {
    padding: 0px 0px 80px 0px;
    @media (max-width: $tablet) {
        padding: 0px 0px 60px 0px;
    }
    @media (max-width: $mobile) {
        padding: 0px 0px 45px 0px;
    }
    @media (max-width: $mobileSmall) {
        padding: 0px 0px 30px 0px;
    }
    &__header-block {
        margin: 0px 0px 120px 0px;
        @media (max-width: $tablet) {
            margin: 0px 0px 80px 0px;
        }
        @media (max-width: $mobile) {
            margin: 0px 0px 60px 0px;
        }
        @media (max-width: $mobileSmall) {
            margin: 0px 0px 40px 0px;
        }
    }

    &__body {
        display: flex;
        margin: 0px -25px;
        @media (max-width: $mobile) {
            display: block;
        }
    }

    &__column {
        flex: 0 1 50%;
        padding: 0px 25px;
    }

    &__form {
        text-align: right;
        @media (max-width: $mobile) {
            text-align: left;
            margin: 0px 0px 30px 0px;
            @media (max-width: $mobileSmall) {
                margin: 0px 0px 15px 0px;
            }
        }
    }

    &__content {
        max-width: 255px;
        color: #000000;
        @media (max-width: $mobile) {
            max-width: none;
            text-align: center;
            font-size: 16px;
        }
    }

    &__text {
        line-height: 1.5;
        margin: -3px 0px 40px 0px;
        @media (max-width: $tablet) {
            margin: -3px 0px 20px 0px;
        }
        @media (max-width: $mobile) {
            margin: 0px 0px 15px 0px;
        }
    }

    &__name {
        font-weight: 700;
        margin: 0px 0px 20px 0px;
        @media (max-width: $tablet) {
            margin: 0px 0px 15px 0px;
        }
    }

    &__social {
        margin: 0px 0px 15px 0px;
        @media (max-width: $tablet) {
            margin: 0px 0px 10px 0px;
        }
    }

    &__email {
        a {
            font-weight: 700;
            color: #000;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.form-contacts {
    &__body {
        display: inline-block;
        width: 100%;
        max-width: 385px;
        @media (max-width: $mobile) {
            display: block;
            max-width: none;
        }
    }

    &__row {
        display: flex;
        margin: 0px -15px 70px -15px;
        @media (max-width: $tablet) {
            margin: 0px -15px 40px -15px;
        }
        @media (max-width: $mobile) {
            margin: 0px -15px 30px -15px;
        }
        @media (max-width: $mobileSmall) {
            display: block;
            margin: 0px -15px 20px -15px;
        }
    }

    &__column {
        flex: 0 1 50%;
        padding: 0px 15px;
    }

    &__input {
        @media (max-width: $mobileSmall) {
            margin: 0px 0px 20px 0px;
        }
    }

    &__label {
        text-align: left;
        margin: 0px 0px 15px 0px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        color: #000000;
    }
    &__button.btn {
        margin: 35px 0px 0px 0px;
        @media (max-width: $tablet) {
            margin: 25px 0px 0px 0px;
        }
        @media (max-width: $mobile) {
            display: block;
            width: 100%;
            margin: 20px 0px 0px 0px;
        }
    }
}
.social {
    display: flex;
    &__item {
        margin: 0px 15px 0px 0px;
        @media (max-width: $mobile) {
            flex: 0 1 50%;
            margin: -37px 0px 0px 0px;
        }
    }
}
