.mainblock {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: rem(50) 0;
    @media screen and (max-width: $mobile), screen and (max-height: em(600)) {
        padding: rem(20) 0;
    }
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__container {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
    }

    &__logo {
        img {
            max-width: 100%;
        }
    }

    &__text {
        color: #ffffff;
        position: relative;
        padding-bottom: rem(45);
        margin: rem(30) 0;
        letter-spacing: 0.4em;
        &::after {
            content: "";
            width: rem(105);
            height: rem(2);
            background-color: #fff;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 0px);
        }
    }

    &__title {
        font-size: rem(34);
        line-height: math.div(40, 34);
        font-weight: 900;
        text-transform: uppercase;
        @media screen and (max-width: $mobile), screen and (max-height: em(600)) {
            font-size: rem(25);
        }
    }

    &__subtitle {
        font-size: rem(26);
        line-height: math.div(40, 26);
        text-transform: none;
        @media screen and (max-width: $mobile), screen and (max-height: em(600)) {
            font-size: rem(22);
        }
    }

    &__footer {
        display: inline-flex;
        flex-direction: column;
    }

    &__button {
        margin-bottom: rem(30);
    }

    &__arrow {
        position: relative;
        animation: arrow 1.5s infinite ease;
        width: rem(20);
        margin: 0px auto;
        img {
            max-width: 100%;
        }
    }

    @keyframes arrow {
        0% {
            top: rem(5);
        }
        50% {
            top: rem(10);
        }
        100% {
            top: rem(5);
        }
    }

    &__image-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

//===================================================================================================================================

.content {
    background-color: #fff;
    position: relative;
    z-index: 50;
}

//========================================================================================================================================================
.about {
    @include adaptiveValue("padding-top", 60, 20, 1170, 767.98, 1);
    @include adaptiveValue("padding-bottom", 60, 10, 1170, 767.98, 1);
    &__header-block {
        @include adaptiveValue("margin-bottom", 70, 30, 1170, 767.98, 1);
    }

    &__container {
    }

    &__body {
        text-align: center;
        max-width: rem(900);
        margin: 0 auto;
    }

    &__row {
        display: flex;
        margin: 0px rem(-15);
        @media (max-width: $mobile) {
            display: block;
        }
    }

    &__column {
        margin-bottom: rem(30);
        flex: 0 1 33.333%;
        padding: 0px rem(15);
    }

    &__item {
        text-align: center;
        max-width: rem(260);
        @media (max-width: $tablet) {
            max-width: none;
        }
    }

    &__icon {
        width: rem(90);
        height: rem(90);
        border-radius: 50%;
        border: rem(1) solid #f2f2f2;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 15, 1170, 767.98, 1);
        }
        &_l {
            img {
                position: relative;
                left: rem(6);
            }
        }
    }

    &__title {
        line-height: 1.2;
        letter-spacing: 0.16em;
        color: #000000;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 22, 18, 1170, 991.98, 1);
        @include adaptiveValue("margin-bottom", 35, 15, 1170, 767.98, 1);
    }

    &__text {
        line-height: math.div(26, 14);
        font-weight: 300;
        color: #868585;
    }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

.portfolio {
    background-color: #f3f3f3;
    @include adaptiveValue("padding-top", 100, 50, 1170, 767.98, 1);
    @include adaptiveValue("padding-bottom", 70, 30, 1170, 767.98, 1);
    &__header-block {
        @include adaptiveValue("margin-bottom", 50, 20, 1170, 767.98, 1);
    }

    &__filter {
        @include adaptiveValue("margin-bottom", 100, 30, 1170, 767.98, 1);
    }

    &__items {
        display: grid;
        @include adaptiveValue("gap", 30, 20, 1170, 767.98, 1);
        grid-template-columns: repeat(2, 1fr);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 20, 1170, 479.98, 1);
        }
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }

    &__column-ibg {
        display: none;
        cursor: pointer;
        @include adaptiveValue("min-height", 360, 260, 1170, 479.98, 1);
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0 rem(10) rem(30) rgba(0, 0, 0, 0.1);
            }
        }
        &._showed {
            display: block;
        }
    }

    &__footer {
        text-align: center;
    }
}

.filter {
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        font-size: rem(15);
        line-height: 1.2;
        font-weight: 700;
        color: #3c3c3c;
        transition: all 0.3s ease 0s;
        margin: 0px rem(25);
        cursor: pointer;
        @media (any-hover: hover) {
            &:hover {
                color: #ada074;
            }
        }
        &._active {
            color: #ada074;
        }
        @media (max-width: $mobile) {
            margin: 0px rem(15);
        }
    }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

.partners {
    @include adaptiveValue("padding-top", 100, 40, 1170, 479.98, 1);
    @include adaptiveValue("padding-bottom", 70, 20, 1170, 479.98, 1);
    @include adaptiveValue("margin-bottom", 90, 25, 1170, 479.98, 1);
    overflow: hidden;
    position: relative;
    &__container {
        position: relative;
    }
    &__title {
        text-align: center;
        font-size: rem(30);
        line-height: 1.2;
        font-weight: 300;
        letter-spacing: 0.06em;
        color: #ffffff;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 90, 30, 1170, 479.98, 1);
        }
    }

    &__items {
        flex-wrap: wrap;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    &__column {
        padding: 0px rem(50);
        @include adaptiveValue("margin-bottom", 30, 25, 1170, 767.98, 1);
        @media (max-width: $mobile) {
            padding: 0px rem(20);
        }
        @media (max-width: $mobileSmall) {
            padding: 0px rem(10);
            flex: 0 1 50%;
        }
    }

    &__bg-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

.contacts {
    @include adaptiveValue("padding-top", 90, 25, 1170, 479.98, 1);
    @include adaptiveValue("padding-bottom", 80, 30, 1170, 479.98, 1);
    &__header-block {
        @include adaptiveValue("margin-bottom", 120, 40, 1170, 479.98, 1);
    }

    &__body {
        @media (min-width: $mobile) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: rem(50);
        }
    }

    &__column {
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }

    &__form {
        text-align: right;
        @media (max-width: $mobile) {
            text-align: left;
            @include adaptiveValue("margin-bottom", 30, 15, 767.98, 479.98, 1);
        }
    }

    &__content {
        max-width: rem(255);
        color: #000000;
        @media (max-width: $mobile) {
            max-width: none;
            text-align: center;
            font-size: rem(16);
        }
    }

    &__text {
        line-height: 1.5;
        margin-top: rem(-3);
        @include adaptiveValue("margin-bottom", 40, 15, 1170, 479.98, 1);
    }

    &__name {
        font-weight: 700;
        @include adaptiveValue("margin-bottom", 20, 15, 1170, 991.98, 1);
    }

    &__social {
        @include adaptiveValue("margin-bottom", 15, 10, 1170, 991.98, 1);
    }

    &__email {
        a {
            font-weight: 700;
            color: #000;
            transition: all 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    color: #ada074;
                }
            }
        }
    }
}

.form-contacts {
    &__body {
        display: inline-block;
        width: 100%;
        max-width: rem(385);
        @media (max-width: $mobile) {
            display: block;
            max-width: none;
        }
    }

    &__row {
        display: block;
        @media (min-width: $mobile) {
            column-gap: rem(30);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__column {
        margin-bottom: rem(30);
    }

    &__input {
        position: relative;
        .form__error {
            position: absolute;
            bottom: rem(-15);
            right: 0;
            font-size: rem(12);
            color: red;
        }
    }

    &__label {
        text-align: left;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        color: #000000;
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }
    &__button {
        @include adaptiveValue("margin-top", 35, 30, 1170, 767.98, 1);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}

.social {
    display: flex;
    align-items: center;
    @media (max-width: $mobile) {
        justify-content: center;
    }
    &__item {
        &:not(:last-child) {
            margin-right: rem(15);
        }
        img {
            max-width: 100%;
        }
    }
}
